@import "base.scss";
@import "reset.scss";
$color:#ccc;
.wrapper{
    @include r(500px,500px);
    background-color: $color;
    display: flex;
}
.popup2{
    @include alt(100px,50px,600px);
    background-color: red;
    .b{
        @include am(50px,25px);
        @include font(16px,25px,#fff);
        text-align: center;
    }
    .c{
        @include r(50px,25px);
        @include font(16px,25px,#fff);
        text-align: center;
        background-color: blue;
    }
}
.popup{
    @include r(300px,250px);
    background-color: steelblue;
    margin-left: 100px;
}
