doctype
html
    head
        title 標題
        meta(charset='UTF-8')
        meta(lang="tw")
        meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
        meta(name="viewport" content="width=1280,user-scalable=no")
        //- link(rel="shortcut icon" type="image/ico" href="favicon.ico")
        meta(name="description" content="說明")
        meta(property="og:title" content="標題")
        meta(property="og:site_name" content="標題")
        meta(property="og:description" content="說明")
        meta(property="og:type" content="website")
        meta(property="og:image" content="img/fbshare.jpg")
    body
        .wrapper(data-page="index") 
            | 這是index頁 <br>第二行
            span 這是裡面的span
        .popup 這是POP
        .popup2 這是POP2
            .c ccccc
            .b bbbb

        link(rel="stylesheet", href="css/common.css")
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js')
        //- script(src='//connect.facebook.net/zh_TW/all.js')
        //- script(src='lib/ga.js')
        //- script(src='lib/device.min.js')
        script(src='js/index.bundle.js')